.cover__link {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
