.page {
  box-sizing: border-box;
  width: 100%;
  min-width: 320px;
  /* max-width: 1280px; */
  margin: 0 auto;
  background-color: #2A2C2F;
  color: #fff;
  font-family: 'Inter', 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
