.photo-grid {
  display: grid;
  gap: 12px;
  width: 90%;
  padding-top: 64px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
}

@media (min-width: 425px) {
  .photo-grid {
    width: calc(288px + ( (100vw - 425px) / (768 - 425) ) * (720 - 288) );
    gap: calc(12px + ( (100vw - 425px) / (768 - 425) ) * (16 - 12) )
  }
}

@media (min-width: 768px) {
  .photo-grid {
    width: calc(720px + ( (100vw - 768px) / (1024 - 768) ) * (928 - 720) );
    gap: calc(16px + ( (100vw - 768px) / (1024 - 768) ) * (14 - 16) );
  }
}

@media (min-width: 1024px) {
  .photo-grid {
    width: calc(928px + ( (100vw - 1024px) / (1280 - 1024) ) * (1184 - 928) );
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: calc(14px + ( (100vw - 1024px) / (1280 - 1024) ) * (16 - 14) );
  }
}
