.photo-grid {
  display: grid;
  justify-content: center ;
  gap: 12px;
  width: 90%;
  max-width: 1280px;
  padding-top: 64px 0;
  padding-bottom: 64px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
}

@media (min-width: 425px) {
  .photo-grid {
    width: calc(288px + ( (100vw - 425px) / (768 - 425) ) * (352 - 288) );
    gap: calc(12px + ( (100vw - 425px) / (768 - 425) ) * (16 - 12) );
    padding-top: calc(64px + ( (100vw - 425px) / (768 - 425) ) * (88 - 64) );
    padding-bottom: calc(64px + ( (100vw - 425px) / (768 - 425) ) * (88 - 64) );

  }
}

@media (min-width: 768px) {
  .photo-grid {
    width: calc(720px + ( (100vw - 768px) / (1024 - 768) ) * (928 - 720) );
    gap: calc(16px + ( (100vw - 768px) / (1024 - 768) ) * (14 - 16) );
    padding-top: calc(88px + ( (100vw - 768px) / (1024 - 768) ) * (92 - 88) );
    padding-bottom: calc(88px + ( (100vw - 768px) / (1024 - 768) ) * (92 - 88) );
  }
}

@media (min-width: 1024px) {
  .photo-grid {
    width: calc(928px + ( (100vw - 1024px) / (1280 - 1024) ) * (1184 - 928) );
    grid-template-columns: repeat(auto-fit, minmax(300px, 284px));
    gap: calc(14px + ( (100vw - 1024px) / (1280 - 1024) ) * (16 - 14) );
    padding-top: 92px;
    padding-bottom: 92px;
  }
}

@media (min-width: 1280px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, 284px);
  }
}
