.photo-grid {
  /* min-height: calc(100vh - 72px); */
  display: grid;
  gap: 12px;
  justify-content: center;
  padding-top: 64px;
  background-color: #2A2C2F;
}

.photo-grid__item {
  width: 288px;
  height: 216px;
}

@media (min-width: 320px) and (max-width: 425px) {
  .photo-grid__item {
    /* width: 288px; */
    /* height: 216px; */
  }
}
