.lead {
  display: flex;
  flex-direction: column;
  min-height: 470px;
  /* height: 146.875vw; */
}

@media screen and (max-width:768px) {
  .lead {
    height: calc(470px + ( (100vw - 320px) / (768 - 320) * (922 - 470) ) );
  }
}
@media (min-width:769px) and (max-width: 1024px) {
  .lead {
    height: calc(922px + ( (100vw - 769px) / (1024 - 769) * (1022 - 922) ) );
  }
}

@media (min-width: 1025px) {
  .lead {
    height: calc(1022px + ( (100vw - 1025px) / (1280 - 1025) * (1073 - 1022) ) );
  }
}
