.header {
  /* (margin-top:16px + logo:42px + margin-bottom:16px) / 320 */
  height: 23.125vw;
  width: 100%;
  display: flex;
}

@media (min-width: 425px) and (max-width: 768px) {
  .header {
    height: calc( 74px + ( (100vw - 425px) / (768 - 425) ) * (108 - 74) );
    /* как растет высота от 74px до 104px дальше высота блока фиксированной остается
    высота (28px + 52px(logo) + 28px) */
  }
}

@media (min-width: 769px) {
  .header {height: 108px;}
}

/* все ок с резиновостью блока*/
