.place__main-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media (min-width: 425px) {
  .place__main-text {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .place__main-text {
    font-size: calc(16px + ( (100vw - 768px) / (1024 - 768) ) * (18 - 16) );
  }
}

@media(min-width: 1024px) {
  .place__main-text {
    font-size: 18px;
  }
}
