.cover {
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  width: 100vw;
  min-height: 200px;
  height: 62.5vw;
  position: relative;
}
.cover::before {
  content: '';
  background-color: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity .5s linear;
}

.cover:hover::before {
  opacity: 0.8;
}

.cover__link {
  position: relative;
  text-decoration: none;
}

.cover__title {
  margin: 0;
  margin-left: 16px;
  margin-right: 16px;
  padding-top: 33px;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
/* or 109% */
  text-align: center;
  color: #FFFFFF;
}

.cover__subtitle {
  color: #ffffff;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 16px 16px 0;
}
