.cover {
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  width: 100vw;
  height: 62.5vw;
  margin: 0 auto;
  max-width: 1184px;
  max-height: 740px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cover::before {
  content: '';
  background-color: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity .5s linear;
}

.cover:hover::before {
  opacity: 0.8;
  transition: opacity .5s linear;
}
