.cover {
  margin: 16px auto 0;
  position: relative;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  max-width: 1184px;
  width: 100%;
  height: calc(100vw * 0.625);
  max-height: 740px;
}

.cover::before {
  content: '';
  background-color: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity .5s linear;
}

.cover:hover::before {
  opacity: 0.8;
  transition: opacity .5s linear;
}


