.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 90%;
  margin: 16px auto;
 }

@media (min-width: 768px) {
  .header__container {
    margin: 28px auto;
  }
}

@media (min-width: 1024px) {
  .header__container {
    width: 92.5%;
    margin: 28px 48px;
  }
}

