.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  width: 100vw;
  max-height: 720px;
  max-width: 1184px;
}

@media (max-width: 1024px) {
  .cover__background {
  min-height: 62.5vw;
  }

}
