.cover__title {
  /* margin: 33px 16px 16px; */
  margin-bottom: 16px;
  text-align: center;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  color: #FFFFFF;
  max-width: 560px;
}

@media (min-width: 425px) {
  .cover__title {
    margin-left: 16px;
    font-size: calc( 32px + ( (100vw - 425px) / (768 - 425) * (72 - 32) ) );
    line-height: calc( 35px + ( (100vw - 425px) / (768 - 425) * (76 - 35) ) );
  }
}

@media (min-width: 768px) {
  .cover__title {
    margin-left: 0;
    font-size: 72px;
    line-height: 76px;
    margin-bottom: 32px;
  }
}
