.footer {
  display: flex;
  /* margin: 0 auto; */
  justify-content: space-between;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* max-width: 1184px; */
}

@media (min-width: 768px) {
  .footer {
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  }
}

@media (min-width: 1280px) {
.footer {
  width: 1184px;
  /* margin: 92px auto 24px; */
  margin: 0 auto;
}
}


