.intro__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 288px;
  max-width: 690px;
  margin: 0 16px;
}

@media (min-width: 425px) {
  .intro__card {
    width: calc(288px +  (100vw - 320px) / (768 - 320) * (720 - 288) );
    margin-left: calc(16px +  (100vw - 320px) / (768 - 320) * (24 - 16) );
    margin-right: calc(16px +  (100vw - 320px) / (768 - 320) * (24 - 16) );
  }
}

@media (min-width:769px) {
  .intro__card {
    margin-left: calc(24px +  (100vw - 769px) / (1024 - 769) * (48 - 24) );
    margin-right: auto;
    width: calc(720px +  (100vw - 769px) / (1024 - 769) * (690 - 720) );
  }
}

@media (min-width: 1025px) {
  .intro__card {
    margin-left: calc(48px +  (100vw - 1025px) / (1280 - 1025) * (148 - 48) );
    width: 690px;
  }
}
